.master {
  position: relative;
  display: grid;
  grid-template-columns: auto 70% auto;
}

.button {
  height: 3rem;
  width: 5rem;
}

.text {
  height: fit-content;
  width: fit-content;
}

.button-clicked {
  height: 3rem;
  width: 5rem;
  background-color: blue;
}

.controls {
  height: fit-content;
  width: fit-content;
  position: absolute;
  z-index: 1;
}

.game-area {
  grid-column: 2;
  height: 760px;
  width: 1000px;
}
