.master {
	position: relative;
	display: flex;
}

.controls {
	position: absolute;
	height: 10rem;
	width: 10rem;
}

.button {
	height: 3rem;
	width: 5rem;
}

.button-clicked {
	height: 3rem;
	width: 5rem;
	background-color: blue;
}

.game-area {
	height: 700px;
	width: 700px;
	margin: auto;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

@media (max-width: 768px) {
	.master {
		display: flex;

		overflow: hidden;

		/* grid-template-rows: auto 90%; */
	}

	.game-area {
		/* grid-row: 2; */
		height: 360px;
		width: 360px;
		margin: auto;
	}
}
